<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      <div class="grid text-center">
        <div class="grid__item small--one-whole medium-up--one-half">
          <a href="https://www.twitch.tv/itskatkam">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 400 100">
              <path fill="#030303" d="M0 0h400v100H0z" />
              <path fill="url(#paint0_linear_76_49)" d="M0 0h125L83.333 100H0V0z" />
              <path fill="#fff" d="M157.28 34.8v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zM170.223 66h-4.704l-4.656-31.2h3.36l3.936 26.352 5.136-26.352h3.6l5.136 26.352 3.936-26.352h3.36L184.671 66h-4.704l-4.896-24.912L170.223 66zm32.766-2.88V66h-8.16v-2.88h2.4V37.68h-2.4V34.8h8.16v2.88h-2.4v25.44h2.4zm20.619-28.32v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zM241.591 60v-2.64h3.36V60c0 2.144-.656 3.808-1.968 4.992-1.312 1.152-3.28 1.728-5.904 1.728s-4.608-.576-5.952-1.728c-1.344-1.184-2.016-2.848-2.016-4.992V40.8c0-2.144.656-3.792 1.968-4.944 1.312-1.184 3.28-1.776 5.904-1.776s4.608.592 5.952 1.776c1.344 1.152 2.016 2.8 2.016 4.944v4.56h-3.36V40.8c0-2.56-1.52-3.84-4.56-3.84-3.04 0-4.56 1.28-4.56 3.84V60c0 2.56 1.52 3.84 4.56 3.84 3.04 0 4.56-1.28 4.56-3.84zm15.132 6h-3.36V34.8h3.36v13.92h9.456V34.8h3.36V66h-3.36V51.6h-9.456V66z" />
              <g clip-path="url(#clip0_76_49)">
                <path fill="#fff" d="M23.602 18l-4.17 11.118v44.466h15.28v8.342h8.342l8.334-8.342h12.504l16.675-16.67V18H23.602zm5.554 5.555H75.01V54.13l-9.729 9.73H50l-8.331 8.33v-8.33H29.156V23.555zm15.286 27.799H50V34.679h-5.558v16.675zm15.283 0h5.557V34.679h-5.557v16.675z" />
              </g>
              <defs>
                <linearGradient
                  id="paint0_linear_76_49"
                  x1="63"
                  x2="62.5"
                  y1="0"
                  y2="100"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9839F3" />
                  <stop offset="1" stop-color="#7E0DE7" />
                </linearGradient>
                <clipPath id="clip0_76_49">
                  <path
                    fill="#fff"
                    d="M0 0h64v64H0z"
                    transform="translate(18 18)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <div class="grid__item small--one-whole medium-up--one-half">
          <a href="https://www.tiktok.com/@itskatkam?">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 400 100">
              <path fill="#030303" d="M0 0h400v100H0z" />
              <path fill="url(#paint0_linear_76_2)" d="M0 0h125L83.333 100H0V0z" />
              <path fill="#fff" d="M157.28 34.8v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zm12.943 28.32V66h-8.16v-2.88h2.4V37.68h-2.4V34.8h8.16v2.88h-2.4v25.44h2.4zM181.771 66h-3.36V34.8h3.36v13.248l8.352-13.248h3.744l-8.496 13.44L194.443 66h-3.696l-7.392-14.544L181.771 54v12zm30.915-31.2v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zm21.823 6V60c0 2.144-.688 3.808-2.064 4.992-1.344 1.152-3.376 1.728-6.096 1.728-2.688 0-4.72-.576-6.096-1.728-1.376-1.184-2.064-2.848-2.064-4.992V40.8c0-2.144.672-3.792 2.016-4.944 1.376-1.184 3.408-1.776 6.096-1.776 2.72 0 4.768.592 6.144 1.776 1.376 1.152 2.064 2.8 2.064 4.944zm-3.36 19.2V40.8c0-2.56-1.6-3.84-4.8-3.84-3.2 0-4.8 1.28-4.8 3.84V60c0 2.56 1.6 3.84 4.8 3.84 3.2 0 4.8-1.28 4.8-3.84zm15.637 6h-3.36V34.8h3.36v13.248l8.352-13.248h3.744l-8.496 13.44L259.458 66h-3.696l-7.392-14.544L246.786 54v12z" />
              <path
                fill="#fff"
                fill-rule="evenodd"
                d="M68.769 39.14c-2.677-.082-5.102-1.361-6.93-3.078a10.01 10.01 0 01-3.09-7.395h-7.452v27.772c0 4.686-2.794 7.452-6.262 7.452a6.267 6.267 0 110-12.528 6.2 6.2 0 012.025.357v-7.589a9.368 9.368 0 00-2.025-.214 13.71 13.71 0 00-9.684 23.404 13.709 13.709 0 0023.398-9.696V43.11c2.888 2.012 6.337 2.944 10.02 3.006v-6.977z"
                clip-rule="evenodd" />
              <defs>
                <linearGradient
                  id="paint0_linear_76_2"
                  x1="63"
                  x2="62.5"
                  y1="0"
                  y2="100"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9839F3" />
                  <stop offset="1" stop-color="#7E0DE7" />
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
        <div class="grid__item small--one-whole medium-up--one-half">
          <a href="https://www.youtube.com/itskatkam">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 400 100">
              <path fill="#030303" d="M0 0h400v100H0z" />
              <path fill="url(#paint0_linear_76_43)" d="M0 0h125L83.333 100H0V0z" />
              <path fill="#fff" d="M152.48 66h-3.36V54.816L141.2 34.8h3.552l6.048 16.08 6.048-16.08h3.552l-7.92 20.064V66zm29.529-25.2V60c0 2.144-.688 3.808-2.064 4.992-1.344 1.152-3.376 1.728-6.096 1.728-2.688 0-4.72-.576-6.096-1.728-1.376-1.184-2.064-2.848-2.064-4.992V40.8c0-2.144.672-3.792 2.016-4.944 1.376-1.184 3.408-1.776 6.096-1.776 2.72 0 4.768.592 6.144 1.776 1.376 1.152 2.064 2.8 2.064 4.944zm-3.36 19.2V40.8c0-2.56-1.6-3.84-4.8-3.84-3.2 0-4.8 1.28-4.8 3.84V60c0 2.56 1.6 3.84 4.8 3.84 3.2 0 4.8-1.28 4.8-3.84zm24.709 0V34.8h3.36V60c0 2.144-.688 3.808-2.064 4.992-1.344 1.152-3.376 1.728-6.096 1.728-2.688 0-4.72-.576-6.096-1.728-1.376-1.184-2.064-2.848-2.064-4.992V34.8h3.36V60c0 2.56 1.6 3.84 4.8 3.84 3.2 0 4.8-1.28 4.8-3.84zm24.938-25.2v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zM246.999 60V34.8h3.36V60c0 2.144-.688 3.808-2.064 4.992-1.344 1.152-3.376 1.728-6.096 1.728-2.688 0-4.72-.576-6.096-1.728-1.376-1.184-2.064-2.848-2.064-4.992V34.8h3.36V60c0 2.56 1.6 3.84 4.8 3.84 3.2 0 4.8-1.28 4.8-3.84zm12.457-25.2h7.248c2.496 0 4.384.592 5.664 1.776 1.312 1.184 1.968 2.832 1.968 4.944v2.88c0 2.72-1.136 4.464-3.408 5.232 2.592.704 3.888 2.48 3.888 5.328v4.32c0 2.144-.64 3.808-1.92 4.992-1.28 1.152-3.184 1.728-5.712 1.728h-7.728V34.8zm12 24.48v-4.32c0-1.024-.384-1.952-1.152-2.784-.768-.864-1.808-1.296-3.12-1.296h-4.368v12.24h4.368c1.344 0 2.384-.368 3.12-1.104.768-.768 1.152-1.68 1.152-2.736zm-.48-14.88v-2.88c0-1.024-.384-1.92-1.152-2.688-.736-.768-1.776-1.152-3.12-1.152h-3.888v10.8h3.888c1.344 0 2.384-.416 3.12-1.248.768-.832 1.152-1.776 1.152-2.832zM297.851 66h-14.16V34.8h13.68v2.88h-10.32v11.04h8.4v2.88h-8.4v11.52h10.8V66z" />
              <g clip-path="url(#clip0_76_43)">
                <path fill="#fff" d="M17.004 68.666c0 2.625.866 4.857 2.598 6.694 1.732 1.837 3.84 2.756 6.326 2.756h47.826c2.485 0 4.594-.919 6.326-2.756 1.732-1.837 2.598-4.069 2.598-6.694v-38.06c0-2.625-.875-4.883-2.626-6.772-1.75-1.89-3.85-2.834-6.3-2.834H25.926c-2.45 0-4.55.945-6.3 2.834-1.75 1.89-2.626 4.147-2.626 6.772v38.06h.004zm23.888-6.878V37.482c0-.245.07-.438.21-.578a.873.873 0 01.262-.052l.262.052 22.888 12.18c.14.14.21.315.21.524 0 .14-.07.28-.21.42l-22.888 12.18c-.07.07-.14.104-.21.104-.14 0-.245-.035-.316-.104-.14-.14-.21-.28-.21-.42h.002z" />
              </g>
              <defs>
                <linearGradient
                  id="paint0_linear_76_43"
                  x1="63"
                  x2="62.5"
                  y1="0"
                  y2="100"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9839F3" />
                  <stop offset="1" stop-color="#7E0DE7" />
                </linearGradient>
                <clipPath id="clip0_76_43">
                  <path
                    fill="#fff"
                    d="M0 0h64v64H0z"
                    transform="translate(18 18)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <div class="grid__item small--one-whole medium-up--one-half">
          <a href="https://www.twitter.com/itskatkam">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 400 100">
              <path fill="#030303" d="M0 0h400v100H0z" />
              <path fill="url(#paint0_linear_76_25)" d="M0 0h125L83.333 100H0V0z" />
              <path fill="#fff" d="M157.28 34.8v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zM170.223 66h-4.704l-4.656-31.2h3.36l3.936 26.352 5.136-26.352h3.6l5.136 26.352 3.936-26.352h3.36L184.671 66h-4.704l-4.896-24.912L170.223 66zm32.766-2.88V66h-8.16v-2.88h2.4V37.68h-2.4V34.8h8.16v2.88h-2.4v25.44h2.4zm20.619-28.32v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zm18.703 0v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zM262.694 66h-14.16V34.8h13.68v2.88h-10.32v11.04h8.4v2.88h-8.4v11.52h10.8V66zm10.575 0h-3.36V34.8h7.248c2.496 0 4.384.592 5.664 1.776 1.312 1.184 1.968 2.832 1.968 4.944v6.72c0 3.264-1.408 5.344-4.224 6.24L286.469 66h-3.696l-5.616-11.04h-3.888V66zm8.16-17.76v-6.72c0-1.216-.368-2.16-1.104-2.832-.736-.672-1.792-1.008-3.168-1.008h-3.888v14.4h3.888c2.848 0 4.272-1.28 4.272-3.84zM79.992 31.688a24.474 24.474 0 01-6.95 1.912 12.158 12.158 0 005.326-6.7 24.04 24.04 0 01-7.688 2.938 12.089 12.089 0 00-13.47-2.915 12.104 12.104 0 00-7.468 11.189c0 .95.1 1.876.312 2.762a34.293 34.293 0 01-24.95-12.662 12.136 12.136 0 003.762 16.176c-2-.05-3.876-.6-5.5-1.512v.15A12.112 12.112 0 0033.078 54.9c-1.04.281-2.111.424-3.188.424-.776 0-1.538-.076-2.276-.226a12.12 12.12 0 0011.312 8.412A24.265 24.265 0 0121 68.524 33.82 33.82 0 0039.524 74c22.288 0 34.462-18.462 34.462-34.476 0-.524-.012-1.05-.038-1.562a24.65 24.65 0 006.038-6.276l.006.002z" />
              <defs>
                <linearGradient
                  id="paint0_linear_76_25"
                  x1="63"
                  x2="62.5"
                  y1="0"
                  y2="100"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9839F3" />
                  <stop offset="1" stop-color="#7E0DE7" />
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
        <div class="grid__item small--one-whole medium-up--one-half">
          <a href="https://www.instagram.com/itskatkam">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 400 100">
              <path fill="#030303" d="M0 0h400v100H0z" />
              <path fill="url(#paint0_linear_76_37)" d="M0 0h125L83.333 100H0V0z" />
              <path fill="#fff" d="M151.52 63.12V66h-8.16v-2.88h2.4V37.68h-2.4V34.8h8.16v2.88h-2.4v25.44h2.4zM163.019 66h-3.36V34.8h3.36l10.416 24v-24h3.36V66h-3.36l-10.416-24v24zm38.623-6c0 4.48-2.704 6.72-8.112 6.72-5.408 0-8.112-2.24-8.112-6.72v-4.08h3.36v4.272c0 1.152.4 2.048 1.2 2.688.8.64 1.984.96 3.552.96s2.752-.32 3.552-.96c.8-.64 1.2-1.504 1.2-2.592 0-1.12-.128-2-.384-2.64-.224-.672-.704-1.376-1.44-2.112l-8.448-8.256c-.992-.992-1.68-1.952-2.064-2.88-.352-.96-.528-2.16-.528-3.6 0-2.144.656-3.792 1.968-4.944 1.344-1.184 3.36-1.776 6.048-1.776 5.152 0 7.728 2.24 7.728 6.72v4.08h-3.36v-4.272c0-1.152-.384-2.048-1.152-2.688-.736-.64-1.856-.96-3.36-.96-1.504 0-2.64.32-3.408.96-.736.64-1.104 1.52-1.104 2.64s.112 2 .336 2.64c.224.64.72 1.312 1.488 2.016l8.592 8.256c.928 1.024 1.568 2.016 1.92 2.976.352.928.528 2.112.528 3.552zm21.122-25.2v2.88h-6.24V66h-3.36V37.68h-6.24V34.8h15.84zm8.478 0h5.04l7.056 31.2h-3.36l-1.632-7.2h-9.168l-1.632 7.2h-3.36l7.056-31.2zm2.496 3.744l-3.936 17.376h7.872l-3.936-17.376zm22.68 14.496v-2.88h8.736V66h-1.44l-1.248-3.072a8.156 8.156 0 01-2.64 2.784 6.633 6.633 0 01-3.552 1.008c-4.64 0-6.96-2.24-6.96-6.72V40.8c0-2.144.656-3.792 1.968-4.944 1.312-1.184 3.28-1.776 5.904-1.776s4.608.592 5.952 1.776c1.344 1.152 2.016 2.8 2.016 4.944v2.64h-3.36V40.8c0-2.56-1.52-3.84-4.56-3.84-3.04 0-4.56 1.28-4.56 3.84V60c0 1.216.256 2.16.768 2.832.512.672 1.44 1.008 2.784 1.008 1.376 0 2.64-.544 3.792-1.632 1.184-1.088 1.776-2.144 1.776-3.168v-6h-5.376zM277.394 66h-3.36V34.8h7.248c2.496 0 4.384.592 5.664 1.776 1.312 1.184 1.968 2.832 1.968 4.944v6.72c0 3.264-1.408 5.344-4.224 6.24L290.594 66h-3.696l-5.616-11.04h-3.888V66zm8.16-17.76v-6.72c0-1.216-.368-2.16-1.104-2.832-.736-.672-1.792-1.008-3.168-1.008h-3.888v14.4h3.888c2.848 0 4.272-1.28 4.272-3.84zm15.953-13.44h5.04l7.056 31.2h-3.36l-1.632-7.2h-9.168l-1.632 7.2h-3.36l7.056-31.2zm2.496 3.744l-3.936 17.376h7.872l-3.936-17.376zM323.66 66h-3.36V34.8h5.04l5.472 20.592 5.52-20.592h5.04V66h-3.36V40.176L332.396 61.2h-3.12l-5.616-21.024V66zM50 24.188c8.413 0 9.4.037 12.725.187 3.075.137 4.738.65 5.85 1.087 1.475.576 2.525 1.25 3.625 2.35s1.787 2.15 2.35 3.625c.425 1.113.95 2.775 1.088 5.85.15 3.325.187 4.313.187 12.726 0 8.412-.038 9.4-.188 12.724-.137 3.075-.65 4.738-1.087 5.85-.575 1.475-1.25 2.525-2.35 3.626-1.1 1.1-2.15 1.787-3.625 2.35-1.112.424-2.775.95-5.85 1.087-3.325.15-4.313.188-12.725.188-8.413 0-9.4-.038-12.725-.188-3.075-.138-4.737-.65-5.85-1.088-1.475-.575-2.525-1.25-3.625-2.35s-1.788-2.15-2.35-3.624c-.425-1.113-.95-2.775-1.087-5.85-.15-3.325-.188-4.313-.188-12.725 0-8.413.037-9.4.188-12.725.137-3.075.65-4.738 1.087-5.85.575-1.476 1.25-2.525 2.35-3.625s2.15-1.788 3.625-2.35c1.113-.425 2.775-.95 5.85-1.088 3.325-.163 4.313-.188 12.725-.188zm0-5.675c-8.55 0-9.625.037-12.987.187-3.35.15-5.638.688-7.638 1.463-2.075.8-3.825 1.887-5.575 3.637s-2.825 3.512-3.637 5.575c-.776 2-1.313 4.288-1.463 7.65-.15 3.35-.188 4.425-.188 12.975s.038 9.625.188 12.987c.15 3.35.688 5.638 1.463 7.65.8 2.076 1.887 3.826 3.637 5.576 1.75 1.75 3.512 2.825 5.575 3.637 2 .775 4.288 1.313 7.65 1.463 3.363.15 4.425.187 12.988.187 8.562 0 9.625-.037 12.987-.188 3.35-.15 5.638-.687 7.65-1.462 2.075-.8 3.825-1.887 5.575-3.637s2.825-3.513 3.638-5.575c.775-2 1.312-4.288 1.462-7.65.15-3.363.188-4.425.188-12.988 0-8.563-.038-9.625-.188-12.987-.15-3.35-.688-5.638-1.463-7.65-.8-2.075-1.887-3.825-3.637-5.575s-3.512-2.826-5.575-3.638c-2-.775-4.288-1.313-7.65-1.462-3.375-.138-4.45-.175-13-.175z" />
              <path fill="#fff" d="M50 33.825c-8.925 0-16.175 7.237-16.175 16.175S41.075 66.175 50 66.175 66.175 58.925 66.175 50 58.925 33.825 50 33.825zM50 60.5c-5.8 0-10.5-4.7-10.5-10.5S44.2 39.5 50 39.5 60.5 44.2 60.5 50 55.8 60.5 50 60.5zM66.813 36.962a3.775 3.775 0 100-7.55 3.775 3.775 0 000 7.55z" />
              <defs>
                <linearGradient
                  id="paint0_linear_76_37"
                  x1="63"
                  x2="62.5"
                  y1="0"
                  y2="100"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9839F3" />
                  <stop offset="1" stop-color="#7E0DE7" />
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
        <div class="grid__item small--one-whole medium-up--one-half">
          <a href="https://www.onlyfans.com/itskatkam">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 400 100">
              <path fill="#030303" d="M0 0h400v100H0z" />
              <path fill="url(#paint0_linear_76_31)" d="M0 0h125L83.333 100H0V0z" />
              <path fill="#fff" d="M160.4 40.8V60c0 2.144-.688 3.808-2.064 4.992-1.344 1.152-3.376 1.728-6.096 1.728-2.688 0-4.72-.576-6.096-1.728-1.376-1.184-2.064-2.848-2.064-4.992V40.8c0-2.144.672-3.792 2.016-4.944 1.376-1.184 3.408-1.776 6.096-1.776 2.72 0 4.768.592 6.144 1.776 1.376 1.152 2.064 2.8 2.064 4.944zM157.04 60V40.8c0-2.56-1.6-3.84-4.8-3.84-3.2 0-4.8 1.28-4.8 3.84V60c0 2.56 1.6 3.84 4.8 3.84 3.2 0 4.8-1.28 4.8-3.84zm15.589 6h-3.36V34.8h3.36l10.416 24v-24h3.36V66h-3.36l-10.416-24v24zm23.359 0V34.8h3.36v28.32h8.784V66h-12.144zm23.195 0h-3.36V54.816l-7.92-20.016h3.552l6.048 16.08 6.048-16.08h3.552l-7.92 20.064V66zm17.29 0h-3.36V34.8h13.2v2.88h-9.84v11.04h7.92v2.88h-7.92V66zm18.816-31.2h5.04l7.056 31.2h-3.36l-1.632-7.2h-9.168l-1.632 7.2h-3.36l7.056-31.2zm2.496 3.744l-3.936 17.376h7.872l-3.936-17.376zM277.441 66h-3.36V34.8h3.36l10.416 24v-24h3.36V66h-3.36l-10.416-24v24zm38.623-6c0 4.48-2.704 6.72-8.112 6.72-5.408 0-8.112-2.24-8.112-6.72v-4.08h3.36v4.272c0 1.152.4 2.048 1.2 2.688.8.64 1.984.96 3.552.96s2.752-.32 3.552-.96c.8-.64 1.2-1.504 1.2-2.592 0-1.12-.128-2-.384-2.64-.224-.672-.704-1.376-1.44-2.112l-8.448-8.256c-.992-.992-1.68-1.952-2.064-2.88-.352-.96-.528-2.16-.528-3.6 0-2.144.656-3.792 1.968-4.944 1.344-1.184 3.36-1.776 6.048-1.776 5.152 0 7.728 2.24 7.728 6.72v4.08h-3.36v-4.272c0-1.152-.384-2.048-1.152-2.688-.736-.64-1.856-.96-3.36-.96-1.504 0-2.64.32-3.408.96-.736.64-1.104 1.52-1.104 2.64s.112 2 .336 2.64c.224.64.72 1.312 1.488 2.016l8.592 8.256c.928 1.024 1.568 2.016 1.92 2.976.352.928.528 2.112.528 3.552zM37.07 20.704c-4.2 1.8-7.9 4.5-10.9 7.9-3 3.4-5.3 7.4-6.7 11.7-1.4 4.3-1.8 8.9-1.2 13.5.5 4.5 2.1 8.9 4.4 12.8 2.3 3.9 5.5 7.2 9.3 9.8 3.8 2.6 8 4.3 12.5 5.1 4.5.8 9.1.6 13.5-.5s8.5-3.2 12.1-6.1l-2.5-3.1c-3.1 2.5-6.7 4.3-10.6 5.3-3.9 1-7.9 1.2-11.8.5-3.9-.7-7.7-2.2-11-4.5-3.3-2.2-6.1-5.2-8.1-8.6-2.1-3.4-3.4-7.2-3.9-11.1-.5-4-.1-8 1.1-11.8 1.2-3.8 3.2-7.3 5.8-10.3 2.7-3 5.9-5.3 9.6-6.9l-1.6-3.7z" />
              <path fill="#fff" d="M51.97 59.504c1.2-.7 2-2 2-3.5 0-2.2-1.8-4-4-4s-4 1.8-4 4c0 1.5.8 2.8 2 3.5v2.5c0 1.1.9 2 2 2s2-.9 2-2v-2.5zm11-10.5h-26v13l13 6 13-6v-13z" />
              <path fill="#fff" d="M37.97 51.004c0-.6.4-1 1-1h22c.6 0 1 .4 1 1v3c0 5.9-4.3 7.7-10 8 0 1.1-.9 2-2 2s-2-.9-2-2c-5.7-.3-10-2-10-8v-3zm1-5c-2.8 0-5 2.2-5 5v3c0 8.8 7.2 16 16 16s16-7.2 16-16v-3c0-2.8-2.2-5-5-5h-22z" />
              <path fill="#fff" d="M77.67 34.004c4.2 7.3 5.4 16.1 3.2 24.3s-7.6 15.2-14.9 19.4l-2-3.5c6.4-3.7 11.1-9.8 13-17 1.9-7.2 1-14.8-2.8-21.2-3.7-6.4-9.8-11.1-17-13-7.1-2-14.8-1-21.2 2.8l-2-3.5c7.3-4.3 16.1-5.4 24.3-3.2s15.2 7.6 19.4 14.9zm-19.7 8v8h3c.6 0 1 .4 1 1v3c0 4.1-2 7.7-5.1 9.9l2.3 3.3c4.1-3 6.8-7.8 6.8-13.2v-3c0-2.4-1.7-4.4-4-4.9v-4.1c0-6.6-5.4-12-12-12s-12 5.4-12 12v4.1c.3-.1.7-.1 1-.1h3v-4c0-4.4 3.6-8 8-8s8 3.6 8 8z" />
              <defs>
                <linearGradient
                  id="paint0_linear_76_31"
                  x1="63"
                  x2="62.5"
                  y1="0"
                  y2="100"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9839F3" />
                  <stop offset="1" stop-color="#7E0DE7" />
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>